.DS_Store

config.ini
client-side/package.json
client-side/node_modules
client-side/nohup.*
client-side/build

data-api/build
data-api/.coverage
data-api/output.xml

php-api/build
php-api/logs
php-api/phpunit.xml

.idea
